In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
cd drive

/content/drive

In [ ]:
ls

'My Drive'/

In [ ]:
dataset = pd.read_csv('/content/drive/My Drive/movie_dataset.csv',index_col = 'index')

In [ ]:
dataset.head()

          budget  ...           director
index             ...
0      237000000  ...      James Cameron
1      300000000  ...     Gore Verbinski
2      245000000  ...         Sam Mendes
3      250000000  ...  Christopher Nolan
4      260000000  ...     Andrew Stanton

[5 rows x 23 columns]

In [ ]:
dataset.shape

(4803, 23)

In [ ]:
dataset.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [ ]:
dataset.loc[14,'tagline']

'You will believe that a man can fly.'

In [54]:
df = dataset[['genres','keywords','cast','director']].copy()

In [55]:
df.isna().sum()

genres       28
keywords    412
cast         43
director     30
dtype: int64

In [56]:
df.fillna(" ",inplace = True)

In [57]:
df.isna().sum()

genres      0
keywords    0
cast        0
director    0
dtype: int64

In [58]:
df.head()

                                         genres  ...           director
index                                            ...
0      Action Adventure Fantasy Science Fiction  ...      James Cameron
1                      Adventure Fantasy Action  ...     Gore Verbinski
2                        Action Adventure Crime  ...         Sam Mendes
3                   Action Crime Drama Thriller  ...  Christopher Nolan
4              Action Adventure Science Fiction  ...     Andrew Stanton

[5 rows x 4 columns]

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   genres    4803 non-null   object
 1   keywords  4803 non-null   object
 2   cast      4803 non-null   object
 3   director  4803 non-null   object
dtypes: object(4)
memory usage: 347.6+ KB

In [60]:
rows,cols = df.shape
for i in range(0,rows):
  val = ""
  for j in range(0,cols):
    val = val + df.iloc[i,j] + " "
  df.loc[i,"combined_feature"] = val

In [61]:
df.head()

                                         genres  ...                                   combined_feature
index                                            ...
0      Action Adventure Fantasy Science Fiction  ...  Action Adventure Fantasy Science Fiction cultu...
1                      Adventure Fantasy Action  ...  Adventure Fantasy Action ocean drug abuse exot...
2                        Action Adventure Crime  ...  Action Adventure Crime spy based on novel secr...
3                   Action Crime Drama Thriller  ...  Action Crime Drama Thriller dc comics crime fi...
4              Action Adventure Science Fiction  ...  Action Adventure Science Fiction based on nove...

[5 rows x 5 columns]

In [62]:
from sklearn.feature_extraction.text import CountVectorizer

In [63]:
cv = CountVectorizer()

In [65]:
matrix = cv.fit_transform(df['combined_feature'])

In [67]:
cv.get_feature_names()

['11',
 '15th',
 '17th',
 '18th',
 '1910s',
 '1917',
 '1920s',
 '1930s',
 '1950s',
 '1960s',
 '1970s',
 '1980s',
 '1990s',
 '1992',
 '1995',
 '19th',
 '2001',
 '2002',
 '3d',
 '40',
 '50',
 '51',
 '60s',
 '66',
 'aaliyah',
 'aamir',
 'aaran',
 'aarniokoski',
 'aaron',
 'aasheekaa',
 'aasif',
 'abai',
 'abandoned',
 'abascal',
 'abbas',
 'abbass',
 'abbey',
 'abbie',
 'abbott',
 'abdalla',
 'abdoo',
 'abduction',
 'abdul',
 'abdulayev',
 'abdullah',
 'abe',
 'abel',
 'abell',
 'abercrombie',
 'abernathy',
 'abhinay',
 'abhishek',
 'abi',
 'abigail',
 'abiteboul',
 'abkarian',
 'able',
 'abo',
 'abraham',
 'abrahams',
 'abrahamson',
 'abrams',
 'abramsohn',
 'abroad',
 'abu',
 'abuse',
 'abusive',
 'academy',
 'accent',
 'accepting',
 'accident',
 'accidental',
 'accountant',
 'accusal',
 'accusations',
 'accused',
 'ace',
 'acharya',
 'achrekar',
 'acinapura',
 'acker',
 'ackland',
 'ackles',
 'ackman',
 'acovone',
 'acres',
 'action',
 'activism',
 'activist',
 'actor',
 'actors',
 'actress',
 'ad',
 'ada',
 'adam',
 'adams',
 'adamson',
 'adaptation',
 'adar',
 'addict',
 'addicted',
 'addiction',
 'addison',
 'addy',
 'adeel',
 'adel',
 'adelaide',
 'adele',
 'adelman',
 'adelstein',
 'adetuyi',
 'adewale',
 'adil',
 'adilah',
 'adilet',
 'aditya',
 'adjani',
 'adkins',
 'adler',
 'adlon',
 'admiration',
 'admissions',
 'adolescence',
 'adolf',
 'adolfo',
 'adolph',
 'adolphe',
 'adomian',
 'adoption',
 'adoptive',
 'ador',
 'adoti',
 'adri',
 'adrian',
 'adriana',
 'adrianne',
 'adriano',
 'adrien',
 'adrienne',
 'adsit',
 'adult',
 'adultery',
 'advancement',
 'advani',
 'adventure',
 'adversary',
 'advertising',
 'advice',
 'ae',
 'aerial',
 'aerobics',
 'afable',
 'affair',
 'affairs',
 'affection',
 'affion',
 'affleck',
 'afghanistan',
 'africa',
 'african',
 'after',
 'aftercreditsstinger',
 'afterlife',
 'against',
 'agapova',
 'agar',
 'agata',
 'agbaje',
 'age',
 'agee',
 'agency',
 'agent',
 'ages',
 'aggeliki',
 'aggression',
 'aghdashloo',
 'aging',
 'agnes',
 'agnieszka',
 'agnihotri',
 'agniya',
 'agostino',
 'agosto',
 'agrelo',
 'agresti',
 'agriculture',
 'agrippina',
 'agron',
 'aguilar',
 'aguilera',
 'aguirre',
 'agust',
 'agustin',
 'agutter',
 'ah',
 'ahmad',
 'ahmed',
 'ahn',
 'ahna',
 'ahnaise',
 'ahney',
 'ahr',
 'aid',
 'aidan',
 'aiden',
 'aidman',
 'aids',
 'aiello',
 'aierra',
 'aiken',
 'aimee',
 'air',
 'aires',
 'airlie',
 'airplane',
 'airport',
 'aisha',
 'aishwarya',
 'aislinn',
 'aitana',
 'aj',
 'aja',
 'ajay',
 'akar',
 'akeel',
 'akerstream',
 'akhtar',
 'aki',
 'akihiro',
 'akiko',
 'akil',
 'akin',
 'akinnuoye',
 'akins',
 'akinshina',
 'akira',
 'akiva',
 'akkad',
 'akon',
 'akosua',
 'aksel',
 'akshay',
 'akshaye',
 'akurati',
 'al',
 'alabama',
 'alaimo',
 'alain',
 'alaistair',
 'alakina',
 'alamo',
 'alamsyah',
 'alan',
 'alanna',
 'alarm',
 'alaska',
 'alastair',
 'alazraqui',
 'alba',
 'alban',
 'albarn',
 'albert',
 'alberti',
 'alberto',
 'albertson',
 'albrizzi',
 'alcarazu',
 'alcatraz',
 'alch',
 'alcohol',
 'alcoholic',
 'alcoholism',
 'alda',
 'alden',
 'aldis',
 'aldo',
 'aldrin',
 'aleandro',
 'alec',
 'aleisha',
 'alejandro',
 'aleksa',
 'aleksandr',
 'aleksandrova',
 'aleksey',
 'aleksia',
 'aleong',
 'ales',
 'alessandro',
 'alessi',
 'alex',
 'alexa',
 'alexander',
 'alexandra',
 'alexandre',
 'alexandru',
 'alexi',
 'alexia',
 'alexie',
 'alexis',
 'alexz',
 'alf',
 'alfano',
 'alfie',
 'alfonso',
 'alford',
 'alfre',
 'alfred',
 'alfredson',
 'algar',
 'algrant',
 'ali',
 'alia',
 'alianak',
 'alibi',
 'alice',
 'alicia',
 'alicja',
 'alien',
 'alike',
 'aliou',
 'alisa',
 'alisha',
 'alison',
 'alistair',
 'alister',
 'alive',
 'aliya',
 'all',
 'alladin',
 'allan',
 'allcroft',
 'allegory',
 'allegra',
 'allen',
 'allergy',
 'allers',
 'alley',
 'allie',
 'allied',
 'alligator',
 'allison',
 'allix',
 'allman',
 'allred',
 'ally',
 'allyson',
 'almani',
 'almeida',
 'almod',
 'almond',
 'almonte',
 'almstead',
 'aloma',
 'alon',
 'alone',
 'alonna',
 'alonso',
 'alpay',
 'alpert',
 'alphonso',
 'alston',
 'altagracia',
 'altamura',
 'alter',
 'alterman',
 'alternate',
 'alternative',
 'altieri',
 'altman',
 'alun',
 'alvarado',
 'alvarez',
 'alvaro',
 'alvart',
 'aly',
 'alycia',
 'alyn',
 'alyson',
 'alyssa',
 'alzheimer',
 'am',
 'amalric',
 'amami',
 'amancaya',
 'amanda',
 'amandes',
 'amara',
 'amario',
 'amaro',
 'amaru',
 'amat',
 'amata',
 'amateur',
 'amaury',
 'amaya',
 'amazon',
 'ambassador',
 'amber',
 'ambiguity',
 'ambition',
 'ambrose',
 'ambulance',
 'ambush',
 'ameche',
 'amedori',
 'ameen',
 'amelia',
 'amell',
 'amen',
 'amendola',
 'amer',
 'america',
 'american',
 'ami',
 'amidou',
 'amie',
 'amiel',
 'amighetti',
 'amila',
 'amin',
 'amir',
 'amish',
 'amitabh',
 'aml',
 'amnesia',
 'amore',
 'amorim',
 'amos',
 'amr',
 'amrish',
 'amrutlal',
 'amsterdam',
 'amurri',
 'amusement',
 'amy',
 'an',
 'ana',
 'anaconda',
 'analeigh',
 'analeine',
 'analingus',
 'anamaria',
 'anand',
 'anas',
 'anatoli',
 'anatoliy',
 'anaya',
 'ancient',
 'and',
 'andelin',
 'anden',
 'anders',
 'andersen',
 'anderson',
 'andersson',
 'andie',
 'andr',
 'andrade',
 'andre',
 'andrea',
 'andreasyan',
 'andree',
 'andrei',
 'andress',
 'andrew',
 'andrews',
 'andrey',
 'andrieu',
 'android',
 'andrucha',
 'andrzej',
 'andrzejewski',
 'andy',
 'aneurin',
 'anfanger',
 'anfone',
 'ang',
 'angarano',
 'angel',
 'angela',
 'angeles',
 'angelica',
 'angeliki',
 'angelina',
 'angelique',
 'angell',
 'angelo',
 'angie',
 'angkor',
 'anglade',
 'angourie',
 'angst',
 'angulo',
 'angus',
 'anh',
 'ania',
 'anika',
 'anil',
 'animal',
 'animals',
 'animated',
 'animation',
 'aniston',
 'anita',
 'anjelica',
 'anjul',
 'anka',
 'ankle',
 'anmol',
 'ann',
 'anna',
 'annabel',
 'annabella',
 'annabelle',
 'annabeth',
 'annable',
 'annalee',
 'annasophia',
 'annaud',
 'anne',
 'annedore',
 'annelyse',
 'annette',
 'annie',
 'annika',
 'annis',
 'anniversary',
 'anno',
 'anonymity',
 'anonymous',
 'another',
 'ansah',
 'ansari',
 'ansel',
 'anson',
 'anspaugh',
 'answering',
 'ant',
 'antal',
 'antarctic',
 'antarctica',
 'anthology',
 'anthony',
 'anthropomorphism',
 'anti',
 'antin',
 'antiquary',
 'antje',
 'antoine',
 'anton',
 'antonia',
 'antonio',
 'antony',
 'anupam',
 'anurag',
 'anushka',
 'anvar',
 'anwar',
 'anya',
 'aoi',
 'aoki',
 'aouad',
 'apache',
 'apartheid',
 'apatow',
 'ape',
 'apocalypse',
 'apocalyptic',
 'apostle',
 'appalachia',
 'appearance',
 'apple',
 'appleby',
 'applegate',
 'appleman',
 'apprentice',
 'approach',
 'approved',
 'apted',
 'aquarium',
 'aquino',
 'arab',
 'arabella',
 'arabia',
 'arabian',
 'arag',
 'aramaki',
 'aranoa',
 'arata',
 'araujo',
 'arbanville',
 'arbitrary',
 'arby',
 'arcade',
 'arcand',
 'arcelia',
 'archaeologist',
 'archangel',
 'archeology',
 'archer',
 'archibald',
 'archie',
 'architect',
 'architecture',
 'archive',
 'arcieri',
 'arctic',
 'arcy',
 'ardant',
 'arden',
 'arditi',
 'ardolino',
 'ardova',
 'area',
 'arena',
 'arend',
 'arestrup',
 'arfi',
 'argentina',
 'argentine',
 'argento',
 'argo',
 'argos',
 'argument',
 'ari',
 'ariadna',
 'ariana',
 'arianda',
 'arias',
 'arie',
 'ariel',
 'arielle',
 'arienzo',
 'arif',
 'arifin',
 'arija',
 'aristocrat',
 'aristotle',
 'ariza',
 'arizona',
 'arjun',
 'ark',
 'arkansas',
 'arkin',
 'arkush',
 'arletty',
 'arliss',
 'arlo',
 'arlook',
 'arly',
 'arm',
 'armageddon',
 'armand',
 'armando',
 'armed',
 'armend',
 'armie',
 'armin',
 'armisen',
 'armitage',
 'armored',
 'arms',
 'armstrong',
 'army',
 'arnaz',
 'arndt',
 'arne',
 'arnett',
 'arnette',
 'arnezeder',
 'arnie',
 'arnold',
 'arntz',
 'aronofsky',
 'around',
 'arquette',
 'arranged',
 'arrest',
 'arrindell',
 'arrogance',
 'arrow',
 'arru',
 'arshad',
 'arsher',
 'arsin',
 'arson',
 'art',
 'artell',
 'artem',
 'artemeva',
 'arterton',
 'arteta',
 'arthouse',
 'arthur',
 'artial',
 'article',
 'artie',
 'artifact',
 'artificial',
 'artist',
 'arts',
 'artura',
 'arturo',
 'artyom',
 'arundathi',
 'aryana',
 'arzamasova',
 'as',
 'asa',
 'asano',
 'asaro',
 'asbury',
 'asefa',
 'aselton',
 'asger',
 'asghar',
 'ash',
 'ashanti',
 'ashbrook',
 'ashby',
 'ashcroft',
 'ashfield',
 'ashish',
 'ashleigh',
 'ashley',
 'ashlyn',
 'ashmore',
 'ashour',
 'ashraf',
 'ashton',
 'asia',
 'asian',
 'asim',
 'asin',
 'askew',
 'asner',
 'aspen',
 'asperger',
 'aspinall',
 'aspiring',
 'assante',
 'assassin',
 'assassination',
 'assault',
 'assayas',
 'assertion',
 'assignment',
 'assistant',
 'astaire',
 'asteroid',
 'astin',
 'aston',
 'astor',
 'astrid',
 'astro',
 'astronaut',
 'asylum',
 'at',
 'atchison',
 'atencio',
 'atherton',
 'athlete',
 'atias',
 'atis',
 'atkin',
 'atkins',
 'atkinson',
 'atlanta',
 'atlantic',
 'atlantis',
 'ato',
 'atom',
 'atomic',
 'atossa',
 'attachment',
 'attack',
 'attal',
 'attempt',
 'attempted',
 'attenborough',
 'attic',
 'atticus',
 'attieh',
 'attila',
 'attract',
 'atwell',
 'aubert',
 'aubier',
 'aubrey',
 'auburtin',
 'auction',
 'auctioneer',
 'audi',
 'audience',
 'audio',
 'audition',
 'audrey',
 'auer',
 'auerbach',
 'auffarth',
 'auger',
 'august',
 'augusto',
 'augustus',
 'aumont',
 'aundre',
 'aune',
 'aunjanue',
 'aunt',
 'auria',
 'ausilia',
 'austen',
 'austin',
 'australia',
 'australian',
 'austria',
 'auteuil',
 'author',
 'authoritarian',
 'authority',
 'autism',
 'auto',
 'autobiographical',
 'autobiography',
 'autocide',
 'autograph',
 'automobile',
 'autonomy',
 'autoritian',
 'autumn',
 'ava',
 'avary',
 'avery',
 'avi',
 'aviation',
 'avildsen',
 'aviles',
 'avis',
 'avnet',
 'avraham',
 'award',
 'awards',
 'awareness',
 'awol',
 'ax',
 'axe',
 'axel',
 'axton',
 'ayala',
 'ayalon',
 'ayan',
 'ayanat',
 'ayano',
 'ayelet',
 'ayer',
 'ayesha',
 'aykroyd',
 'aylesworth',
 'aymen',
 'ayn',
 'ayoade',
 'ayush',
 'az',
 'azabal',
 'azami',
 'azaria',
 'aziz',
 'azmi',
 'aznavour',
 'aztec',
 'azuelos',
 'azur',
 'azura',
 'ba',
 'baba',
 'babak',
 'babar',
 'babatund',
 'babbar',
 'babbit',
 'babes',
 'baboon',
 'babou',
 'baby',
 'babysitter',
 'bacall',
 'baccarin',
 'bach',
 'bachar',
 'bachchan',
 'bache',
 'bachelor',
 'bachleda',
 'bachman',
 'bachrach',
 'bacic',
 'backer',
 'background',
 'backpacker',
 'bacon',
 'bad',
 'badberg',
 'baddeley',
 'bader',
 'badge',
 'badger',
 'badgley',
 'badham',
 'badland',
 'badreya',
 'badu',
 'bae',
 'baer',
 'baez',
 'baeza',
 'bag',
 'baganov',
 'bagby',
 'bagdad',
 'baghdad',
 'bagley',
 'baglio',
 'bagneris',
 'bahamas',
 'bahar',
 'bahare',
 'bahns',
 'bahr',
 'bai',
 'bail',
 'bailee',
 'bailey',
 'baio',
 'baird',
 'bairley',
 'bairstow',
 'bajrangi',
 'bakaitis',
 'baker',
 'bakery',
 'bakke',
 'bakula',
 'balaban',
 'balaguer',
 'balan',
 'balance',
 'balaski',
 'balda',
 'baldry',
 'baldwin',
 'bale',
 'bales',
 'balfe',
 'balfour',
 'bali',
 'balibar',
 'balin',
 'balk',
 'balkan',
 'ball',
 'ballantyne',
 'ballard',
 'ballet',
 'balloon',
 'ballroom',
 'balmer',
 'balsam',
 'baltasar',
 'balthazar',
 'baltimore',
 'balzen',
 'bam',
 'ban',
 'bana',
 'bancroft',
 'band',
 'bandana',
 'banderas',
 'bandiero',
 'bandit',
 'bands',
 'banerjee',
 'bang',
 'bangkok',
 'bangladesh',
 'banionis',
 'banishment',
 'bank',
 'banker',
 'bankes',
 'bankol',
 'bankrupt',
 'banks',
 'bannen',
 'banner',
 'bannister',
 'bannon',
 'baoqiang',
 'baptiste',
 ...]

In [68]:
matrix.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [69]:
X = pd.DataFrame(matrix.toarray(),columns = cv.get_feature_names())

In [70]:
X.head()

   11  15th  17th  18th  1910s  ...  zvyagintsev  zwart  zwick  zwigoff  zylka
0   0     0     0     0      0  ...            0      0      0        0      0
1   0     0     0     0      0  ...            0      0      0        0      0
2   0     0     0     0      0  ...            0      0      0        0      0
3   0     0     0     0      0  ...            0      0      0        0      0
4   0     0     0     0      0  ...            0      0      0        0      0

[5 rows x 14845 columns]

In [72]:
from sklearn.metrics.pairwise import cosine_similarity

In [122]:
similarity_matrix = cosine_similarity(X)

In [127]:
type(similarity_matrix)

numpy.ndarray

In [126]:
print(similarity_matrix.shape)

(4803, 4803)

In [114]:
def index_from_title(df, value):
  return df[df.title == value].index.values[0]

In [116]:
index_from_title(dataset,'Avatar')

0

In [105]:
def title_from_index(df, value):
  return df.loc[value,'title']

In [107]:
title_from_index(dataset,200)

'The Hunger Games: Mockingjay - Part 1'

In [128]:
m = np.zeros(similarity_matrix.shape[0],dtype = bool)

In [129]:
m[0] = True

In [130]:
a = np.ma.array(similarity_matrix[0], mask = m)

In [131]:
np.argmax(a)

94

In [132]:
title_from_index(dataset,94)

'Guardians of the Galaxy'